*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}
html, body{
  height: 100%;

}
body{
  background-color: #2c2b2b ;
} 
button{
  background-color: lightseagreen;
  padding: 5px 10px;
}